:root {
    --accent: #8B0000;
}

/* DEFAULT DARK MODE */
[data-theme="dark"] {
    --bg: #0b0b0b;
    --text: #ffffff;
    --card: #141414;
    --border: #ffffff;
}

/* LIGHT MODE */
[data-theme="light"] {
    --bg: #ffffff;
    --text: #111111;
    --card: #f2f2f2;
    --border: #000000;
}

/* GLOBAL */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
    transition: background 0.3s ease, color 0.3s ease;
}

/* HEADER */
header {
    padding: 60px 10%;
}

/* TOP BAR */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* THEME BUTTON */
#theme-toggle {
    background: none;
    border: 1px solid var(--accent);
    color: var(--accent);
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 40px;
}

.hero-image img {
    width: 260px;
    border-radius: 8px;
}

.hero-text h2 {
    font-size: 2.2rem;
    line-height: 1.4;
    margin: 0 0 20px 0;
}

.accent {
    color: var(--accent);
}

/* BUTTON BOX STYLE */
.links {
    margin-top: 25px;
}

.links a {
    display: inline-block;
    margin-right: 12px;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid var(--border);
    color: var(--border);
    text-decoration: none;
    transition: 0.3s ease;
}

.links a:hover {
    background: var(--border);
    color: var(--accent);
}

/* ABOUT */
.about {
    padding: 60px 10%;
}

.about h3 {
    margin-bottom: 15px;
}

/* PROJECT CARDS */
.project-card {
    display: flex;
    gap: 30px;
    background-color: var(--card);
    margin: 40px 10%;
    padding: 30px;
    border-radius: 8px;
}

.project-card img {
    width: 250px;
    border-radius: 6px;
}

.project-card h2 {
    margin-top: 0;
}

.tech {
    color: var(--accent);
    margin-top: 10px;
}

.project-card a {
    color: var(--accent);
    text-decoration: none;
}

/* BACK LINK */
.back-link {
    margin-left: 10%;
    text-decoration: none;
    color: var(--accent);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px 0;
}

/* MOBILE */
@media (max-width: 768px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .project-card {
        flex-direction: column;
    }

    .project-card img {
        width: 100%;
    }
}
